doctype html
html
  head
    title Moped Sync Demo
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    style.
      .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
  body(style="padding-top: 1em;")
    #content.container-fluid
    script(src="/client.js")
